<div id="login" class="">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex register">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <div class="logos">
              <a class="navbar-brand" href="#" style="display: inline-block">
                <img src="" alt="Tecnecio">
              </a>
              <hr class="my-4" style="transform: rotate(90deg); width: 50px; margin: 0px !important; display: inline-block">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCKLp6ExOSCWvjf2d2Nk9tksqvR0VIhP_umUPqnlwxVKtL4nbp"
              class="card-logo" style="display: inline-block"
              alt="">
            </div>
            <h5 class="card-title text-center">Registrarse</h5>
            <form class="form-signin" #f="ngForm" (ngSubmit)="onSubmit(f)" validate>
              <div class="form-label-group">
                <input type="text" id="inputUser" class="form-control" placeholder="Usuario" required autofocus
                #user="ngModel" name="user" ngModel>
                <label for="inputUser">Correo electrónico (correo@itesm.mx)</label>
              </div>

              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required #password="ngModel" name="password" ngModel>
                <label for="inputPassword">Contraseña (8 min)</label>
              </div>
              <button type="submit" class="btn btn-lg btn-primary btn-block text-uppercase">Registrarse</button>
              <a class="d-block text-center mt-2 small btn-register" (click)="onChange()" type=button>Iniciar sesión</a>
              <hr class="my-4">
              <button class="btn btn-lg btn-google btn-block text-uppercase" placement="top" ngbTooltip="No disponible" container="body" disabled><fa name="google" size="lg" animation=""></fa> Registrarse con Google</button>
              <button class="btn btn-lg btn-facebook btn-block text-uppercase" placement="top" ngbTooltip="No disponible" container="body" disabled><fa name="facebook-f" size="lg" animation=""></fa> Registrarse con Facebook</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
