<loader *ngIf="loading"></loader>
<login (success)="onSubmitLogin($event)" (switch)="onChange()" *ngIf="!register"></login>
<register (success)="onSubmitRegister($event)" (switch)="onChange()" *ngIf="register"></register>


<!-- <p>First name value: {{ user.value }}</p>
<p>First name valid: {{ user.untouched }}</p>
<p>First name valid: {{ user.touched }}</p>
<p>First name valid: {{ user.pristine }}</p>
<p>First name valid: {{ user.dirty }}</p>
<p>Form value: {{ f.value | json }}</p>
<p>Form valid: {{ f.valid }}</p> -->
